.modal_content label {
    margin-bottom: 5px;
    font-weight: bold;
}

.modal_content input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal_content button {
    padding: 10px;
    background-color: #ff7f50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.modal_content button:hover {
    background-color: #ffe8e8;
}

.modal_content button:focus {
    outline: none;
}